<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjeFDm8jr-piFgXj43bzA95xFpiDG1K9s</string>
	<key>GCM_SENDER_ID</key>
	<string>606815910887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verygoodcore.gestao-eventos</string>
	<key>PROJECT_ID</key>
	<string>gestao-evento</string>
	<key>STORAGE_BUCKET</key>
	<string>gestao-evento.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606815910887:ios:a792d190d15dfd5c3e9b42</string>
</dict>
</plist>